*{padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
    background-color:rgb(65, 219, 230) ;
    background-image: url(../img/pattern.png) ;
    background-size: 200px;
    padding-left: 65px;
    padding-top: 20px; 
}


main{
    padding: 50px;
}


h2{
    color: gray;
    font-size: 15px;
}

#change-colour{
    color: aqua;
}

.description-images{
    font-size: 10px;
}

.text{
    padding-top: 30px;
    padding-bottom: 30px;
}

#point-out{
    background-color: yellow;
}

ul{
    padding-left: 15px;
}

table{
    padding: 15px 0 15px 0;
}

td{
    width: 250px;
}

thead{
    text-align: left;
    color: white;
    background-color: rgb(0, 170, 255);
}

.row-color{
    background-color: rgb(0, 238, 255);
}

footer{
    padding-left: 50px;
}

.img-foother{
    width: 200px;
    height: 150px;
}